{% extends 'base.html' %}
{% block content %}

<div style="padding: 20px;width: 300px;background-color: #fe6e00;display: block;margin: auto;
  margin-top: 250px">
  <h1 style="color: white;text-align: center">Change Password</h1>
  <form method="post" action="{% url 'VoterProfileApp:changepassword-submit' %}">
    {% csrf_token %}
    <input type="password" class="form-control" placeholder="CurrentPassword" name="currentpassword">
    <input type="password" class="form-control" placeholder="NewPassword" name="newpassword">
    <input type="password" class="form-control" placeholder="ConfirmPassword" name="confirmpassword">
    <input type="submit" style="display: block;margin: auto;margin-top: 10px" class="btn btn-success" >
  </form>
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}

</div>


{% endblock %}
