{% extends 'base.html' %}
{% block content %}

  <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" style="font-weight: 900;">Forgot password</a>
      <a class="btn btn-success" href="{% url 'VoterProfileApp:login' %}">Back To Login</a>
  </nav>
  <div style="padding: 20px;width: 300px;background-color: #fe6e00;display: block;margin: auto;
    margin-top: 250px">
    <h1 style="color: white;text-align: center">Set new password</h1>
    <form method="post" action="{% url 'VoterProfileApp:check-forgot-password' %}">
      {% csrf_token %}
      <input type="text" style="margin-bottom: 15px" class="form-control" placeholder="aadhar_no" name="aadhar_no">
      <input type="password" class="form-control" placeholder="voter_id" name="voter_id">
      <input type="password" class="form-control" placeholder="newpassword" name="newpassword">
      <input type="submit" style="display: block;margin: auto;margin-top: 10px" class="btn btn-success" value="Confirm" >
    </form>
  </div>
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}

{% endblock %}
